/bin
/vfs/app_install
/vfs/app_storage
/vfs/app_card/PALM/Programs/*
/tools
/registry
/pumpkin
*.a
*.o
*.res
*.so
*.dll
*.exe
*.bin
*.dlib
*.prc
*.pdb
*.log
*.pyc
syscalls_stubs.txt
syscalls_stubs.c
res
zig-cache
!/lib/*
!/lib32/*
!/vfs/app_card/PALM/Programs/Command/
!/src/plucker/fonts/*
