/bin
/vfs/app_install
/vfs/app_storage
/vfs/app_card/PALM/Programs/*
/tools
/registry
/pumpkin
*.a
*.o
*.res
*.so
*.dll
*.exe
*.bin
*.dlib
*.prc
*.log
res
zig-cache
!/lib/*
!/lib32/*
!/vfs/app_card/PALM/Programs/Command/
.DS_Store
src/.vscode/
xcuserdata/
project.xcworkspace/
