/bin
/vfs/app_install
/vfs/app_storage
/vfs/app_data
/vfs/app_card/PALM/Programs/*
/tools
/registry
/pumpkin
/src/.vscode/*
*.a
*.o
*.res
*.so
*.dll
*.exe
*.wasm
*.bin
*.dlib
*.prc
*.pdb
*.log
*.pyc
*.mod
*.fo
*_serde.h
*_serde.c
trapArgs.c
xdg-*.c
xdg-*.h
syscalls_stubs.txt
syscalls_stubs.c
res
res.flag
tools.flag
.zig-cache
hex2bin
mot2bin
galasm
ld80
mkbin
y.tab.h
src/libemulation/tools/zmac/doc
src/libemulation/tools/zmac/doc.inl
src/libemulation/tools/zmac/zmac
src/libemulation/tools/zmac/zmac.c
/src/emscripten/pumpkin.data
/src/emscripten/pumpkin.html
/src/emscripten/pumpkin.js
/src/emscripten/pumpkin.zip
!/lib/*
!/lib32/*
!/vfs/app_card/PALM/Programs/Command/
!/src/plucker/fonts/*
